extends layout

block content
 h1= title
 p 
  font(color='DodgerBlue') #{username}
  | 님 환영합니다.
 


 #game
  #bingo
   table.bingo-board
    tr
     td
     	img.img-responsive(src=item.result.image.images/1.jpg)
     td
     	img.img-responsive(src=item.result.image.images/2.jpg)
     td
     	img.img-responsive(src=item.result.image.images/3.jpg)
     td
     	img.img-responsive(src=item.result.image.images/4.jpg)
     td
     	img.img-responsive(src=item.result.image.images/5.jpg)
    tr
     td
     	img.img-responsive(src=item.result.image.images/6.jpg)
     td
     	img.img-responsive(src=item.result.image.images/7.jpg)
     td
     	img.img-responsive(src=item.result.image.images/8.jpg)
     td
     	img.img-responsive(src=item.result.image.images/9.jpg)
     td
     	img.img-responsive(src=item.result.image.images/10.jpg)
    tr
     td
     	img.img-responsive(src=item.result.image.images/11.jpg)
     td
     	img.img-responsive(src=item.result.image.images/12.jpg)
     td
     	img.img-responsive(src=item.result.image.images/13.jpg)
     td
     	img.img-responsive(src=item.result.image.images/14.jpg)
     td
     	img.img-responsive(src=item.result.image.images/15.jpg)
    tr
     td
     	img.img-responsive(src=item.result.image.images/16.jpg)
     td
     	img.img-responsive(src=item.result.image.images/17.jpg)
     td
     	img.img-responsive(src=item.result.image.images/18.jpg)
     td
     	img.img-responsive(src=item.result.image.images/19.jpg)
     td
     	img.img-responsive(src=item.result.image.images/20.jpg)
    tr
     td
     td
     td
     td
     td

   #user
    #list
    #logs
    input#start_button(type='button', value='Game Start!')
    input#username(type='hidden', value= username)